@media  (max-width:992px){
    body{
      text-align: center;
    }
    .text{
        font-size: 4rem;
    }
    .programmer{
        font-size: 2.5rem;
    }
    .pic_dec{
        height: auto;
    }
    
}

@media (min-width:993px){
    .text{
        font-size: 9rem;
    }
    .programmer{
        font-size: 3rem;
    }
    .pic_dec{
        height: 150px;
    }
}
/* section_1 */
.one-bg{
    background-color: #FAF0D7   ;

    padding: 5vh;
}



.text{
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    text-align: center;
}

.programmer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #66bfbf;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.cloud{
    height: 90px;
}

/* section_2 */
.pic{
    height: 300px;
    margin-top: 4rem;
    border-radius: 50%;
    
}
.hello{
    font-size: 5rem;
    text-align: center;
    color: #66bfbf;
    margin-top: 3.5rem;
}

.pic_dec{
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    margin-top: 2rem;
}
#line{
    
    border: 5px dotted grey;
    border-bottom:none; 
    width: 100px;
 }

 /* section_3 */
 .details{
    margin-top: 4rem;
 }

 .head_2{
    color: #11999e;
    margin-top: 1.5rem;
    font-size: 2.5rem;

 }

 .images{
    height: 250px;
    width: 350px;
 }
 
 .description{
    font-size: 1.3rem; 
    margin-top: 1.5rem;
    margin-left: 3.5rem;
 }

.sizing{
    margin: 1rem;
    font-size: 1.3rem;
    width: 40%;
}

.btn{
    background-color: #FFD9C0;
    width: 250px;
    height: 65px;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 15px;
}

.btn:hover{
    background-color: #CCEEBC;
}

/* section_4 */
.foot{
    background-color: #FFD9C0;
    height: 250px;
    padding-top: 2.5rem;
}

.change{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.change:hover{
    color: grey;
}

.github{
    margin-left: 2%;
    margin-right: 2%;
}

.bottom_hr{
    margin: 2rem 0px;
    border: 5px dotted black;
    border-bottom: 0px;
    width: 100px;
}

.luffy{
    height: 200px;
    float: right;
    margin-top: -125px;

} 
